<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Learn AngularJS - Order Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="../style/template.less" rel="stylesheet/less" />
	<script src="../js/jquery-1.10.2.min.js"></script>
	<script src="../style/less.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="../js/script.js"></script>
</head>
<body ng-app='spt' ng-controller='sptCtrl' class="wrapper">
	<div class="container">
	<div class="row">

	<div class="col-lg-6 col-lg-offset-3 pane" style="margin-bottom:30px;margin-top:30px;">
		<div class="pane">
			<button type="button" name="button" class="btn" ng-class:"{ form.type=='rus' : btn-primary }" ng-click='languageChoose("rus")'>Русский</button>
			<button type="button" name="button" class="btn" ng-class:"{ form.type=='kaz' : btn-primary }" ng-click='languageChoose("kaz")'>Kazakh</button>
			<h1>Регистрация на SPT</h1>
				<form  name="register" id="register" method="post" enctype="multipart/form-data">

					<legend>Информация об ученике</legend>
				<div class="form-group">
				<label for=""><p class="error" ng-class="name_err">{{ form.name }}</p></label>
				<input ng-model="name"  class="form-control required " placeholder="Введите ваше имя" type="name"  name="student_name" id="" required/>
				<label for=""><p >Фамилия</p></label>
				<input ng-model="surname"  class="form-control" placeholder="Введите вашу фамилию" name="student_surname" id="" required />
				<label for=""><p >Электронная почта</p></label>
				<input ng-model="email" type="text" class="form-control " title="Введите вашу почту" id="" name="student_email" placeholder="Введите почту" required/>
				<label for=""><p ng-class="iin_err">ИИН</p></label>
				<input ng-model="iin" type="text" class="form-control " placeholder="Введите ваше ИИН" name="student_iin" id="" required/>
				</div>
					<div class="form-group">
						<legend>Участие в SPT</legend>
						<label for="city">Город</label>
						<select name="city" class="form-control required" title="Выберите город" id="city" ng-model='city'>
							<option value="1">Алматы</option>
							<option value="2">Шымкент</option>
							<option value="3">Астана</option>
							<option value="4">Актобе</option>
							<option value="5">Атырау</option>
							<option value="6">Орал</option>
							<option value="7">Кызылорда</option>
							<option value="8">Жезказган</option>
							<option value="9">Усть-Каменогорск</option>
							<option value="10">Караганда</option>
						</select>
						<label for="">Школа</label>
						<input  type="text" class="form-control" name="" placeholder="Введите название школы" ng-model='school'><br>
						<!-- <select name= "school" class="form-control required" ng-model='' >
							<option value="1">Назарбаев Интеллектуальная школа физико-математического направления</option>
							<option value="2">Гуманитарная школа-гимназия №38 им. Н. Ондасынова</option>
							<option value="3">Школа-лицей №41</option>
						</select> -->
					</div>

					<fieldset class="form-group">
					<legend>Пятый предмет</legend>
					<div class="form-check">
						<label class="form-check-label">
						<input  class="form-check-input " title="Выберите как минимум один вариант" type="radio" name="subject" id="optionsRadios1" value="1" required ng-model="selectedSub" ng-value="'Английский язык'">
									Английский язык
						</label>
						<br/>
						<label class="form-check-label">
						<input type="radio" class="form-check-input" name="subject" id="optionsRadios2" value="2" ng-model="selectedSub" ng-value="'Казахская литература'">
									Казахская литература
						</label>
						<br/>
						<label class="form-check-label">
						<input type="radio" class="form-check-input" name="subject" id="optionsRadios3" value="3" ng-model="selectedSub" ng-value="'География'">
									География
						</label>
						<br/>
						<label class="form-check-label">
						<input type="radio" class="form-check-input" name="subject" id="optionsRadios4" value="4" ng-model="selectedSub" ng-value="'Физика'">
						Физика
						</label>
						<br/>
						<label class="form-check-label">
						<input type="radio" class="form-check-input" name="subject" id="optionsRadios5" value="5" ng-model="selectedSub" ng-value="'Всемирная история'">
									Всемирная история
						</label>
					</div>
					</fieldset>
					<fieldset class="form-group">
					<legend>Язык тестирования </legend>
					<div class="form-check">
						<label class="form-check-label">
						<input class="form-check-input" title="Выберите один вариант" type="radio"  name="language" id="optionsRadios1" value="1"  required ng-model="selectedLan" ng-value="'Казахский'">
						Казахский
						</label><br/>
						<label class="form-check-label">
						<input type="radio" class="form-check-input"  name="language" id="optionsRadios2" value="2"  ng-model="selectedLan" ng-value="'Русский'">
						Русский
						</label>
					</div>
					</fieldset>
					<div class="form-group">
									<input type="hidden"  name="MAX_FILE_SIZE" value="2000000">
									<label for="user_pic"> :</label>
									<input class="form-check-input" type="file" name="user_pic" size="30">
					</div>
					<div>
						<input class="btn btn-primary" name="upload" type="submit" value="Отправить" ng-click='save(name,surname,email,iin,city,school,selectedSub,selectedLan)'/></div>
				</form>
		</div>
	</div>
	</div>
	</div>

</body>
</html>
